#root {
 
  color: white;
  margin: 0 auto;

  text-align: center;

}

@font-face {
  font-family: 'Digital7';
  src: url('./assets/fonts/Digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}